@using iTi_day_17_lab.Models.FirmDatabase
@using iTi_day_17_lab.Utils
@using iTi_day_17_lab.ViewModels
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Employee
<form asp-controller="@ControllerNames.Employee" asp-action="@ActionNames.SaveData">
    <center>
    <div class="form-row">
        <div class="form-group col-md-6">
            <input class="form-control" asp-for="SSN" placeholder="SSN">
            <span asp-validation-for="SSN" class="text-danger"></span>
        </div>
        <p></p>
        <div class="form-group col-md-6">
                <input class="form-control" asp-for="FirstName" placeholder="First name">
                <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
        <p></p>
        <div class="form-group col-md-6">
                <input class="form-control" asp-for="MINIT" placeholder="Middle name initial">
                <span asp-validation-for="MINIT" class="text-danger"></span>
        </div>
        <p></p>
        <div class="form-group col-md-6">
                <input class="form-control" asp-for="LastName" placeholder="Last Name">
                <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
        <p></p>
        <div class="form-group col-md-6">
                <input class="form-control" asp-for="Address" placeholder="Address">
                <span asp-validation-for="Address" class="text-danger"></span>
        </div>
        <p></p>
        <div class="form-group col-md-6">
                <input class="form-control" asp-for="Salary" placeholder="Salary">
                <span asp-validation-for="Salary" class="text-danger"></span>
        </div>
        <p></p>
        <div class="form-group col-md-6">
                <input class="form-control" asp-for="BirthDate" placeholder="Birth date">
                <span asp-validation-for="BirthDate" class="text-danger"></span>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-4">
            <p></p>
            <label for="inputState">Gender</label>
            <select id="inputState" asp-for="Gender" class="form-control">
                    <option value="F">Female</option>
                    <option value="M">Male</option>
            </select>
            <p></p>
            <label for="inputState">Supervisor</label>
                <select asp-for="SupervisorSSN" id="inputState" class="form-control">
                <option value= null></option>
                @foreach (Employee item in ViewBag.EmployeeAddVM.Supervisors)
                {
                    <option value="@item.SSN">@item.FirstName @item.LastName</option>
                }
            </select>
            <p></p>
                <label for="inputState">Department</label>
                <select asp-for="DepartmentId" class="form-control">
                    @foreach (Department item in ViewBag.EmployeeAddVM.Departments)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
        </div>

    </div>
    <p></p>
    <button type="submit" class="btn btn-primary">Add</button>
    </center>
</form>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>