@using iTi_day_17_lab.Models.FirmDatabase
@using iTi_day_17_lab.Utils
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Employee
<center>
    <p></p>
    <h1>Employee's Details</h1>
    <p></p>
    <div class="card" style="width: 18rem;" >
        <div class="card-body">
            <h5 class="card-title">@Model.FirstName @Model.LastName</h5>
            <h6 class="card-subtitle">@Model.SSN</h6>
            <p class="card-text"></p>
            <p class="card-text">Salary: @Model.Salary</p>
            <p class="card-text">Address: @Model.Address</p>
            <p class="card-text">Department: @Model.Department?.Name</p>
            <a href="/Employee/GetAll" class="card-link">Go back</a>
        </div>
    </div>
    <div>
        <a asp-controller="@ControllerNames.Employee" asp-action="@ActionNames.EditForm" asp-route-id="@Model.SSN">Edit</a>
        <a asp-controller="@ControllerNames.Employee" asp-action="@ActionNames.DeleteData" asp-route-id="@Model.SSN">Delete</a>
    </div>
    <p></p>
    <h1>Employee's Dependents</h1>
    <p></p>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Full Name</th>
                <th scope="col">Birth Date</th>
                <th scope="col">Gender</th>
                <th scope="col">Relationship</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Dependents)
            {
                <tr>
                    <th scope="row">@item.Name</th>
                    <td>@item.BirthDate</td>
                    @if (@item.Gender == 'F')
                    {
                        <td>Female</td>
                    }
                    @if (@item.Gender != 'F')
                    {
                        <td>Male</td>
                    }
                    <td>@item.Relationship</td>
                </tr>
            }
        </tbody>
    </table>
</center>