@using iTi_day_17_lab.ViewModels
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model EmployeeVM
<form action="/Employee/AddData">
    <center>
    <div class="form-row">
        <div class="form-group col-md-6">
            <input type="text" class="form-control" id="SSN" name="SSN" placeholder="SSN">
        </div>
        <p></p>
        <div class="form-group col-md-6">
                <input type="text" class="form-control" name="FirstName" id="FirstName" placeholder="First name">
        </div>
        <p></p>
        <div class="form-group col-md-6">
                <input type="text" class="form-control" name="MINIT" id="MINIT" placeholder="Middle name initial">
        </div>
        <p></p>
        <div class="form-group col-md-6">
                <input type="text" class="form-control" name="LastName" id="LastName" placeholder="Last Name">
        </div>
        <p></p>
        <div class="form-group col-md-6">
                <input type="text" class="form-control" name="Address" id="Address" placeholder="Address">
        </div>
        <p></p>
        <div class="form-group col-md-6">
                <input type="number" class="form-control" name="Salary" id="Salary" placeholder="Salary">
        </div>
        <p></p>
        <div class="form-group col-md-6">
                <input type="date" class="form-control" name="BirthDate" id="BirthDate" placeholder="Birth date">
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-4">
            <p></p>
            <label for="inputState">Gender</label>
            <select id="inputState" name="Gender" class="form-control">
                    <option value="F">Female</option>
                    <option value="M">Male</option>
            </select>
            <p></p>
            <label for="inputState">Supervisor</label>
            <select id="inputState" name="SupervisorSSN" class="form-control">
                <option value= null></option>
                @foreach (Employee item in Model.Supervisors)
                {
                    <option value="@item.SSN">@item.FirstName @item.LastName</option>
                }
            </select>
            <p></p>
                <label for="inputState">Department</label>
                <select id="inputState" name="DepartmentId" class="form-control">
                    @foreach (Department item in Model.Departments)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
        </div>

    </div>
    <p></p>
    <button type="submit" class="btn btn-primary">Add</button>
    </center>
</form>
