@using iTi_day_17_lab.Utils
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Dependents";
}
@model List<Dependent>

    <div>
        <center>
            <h1>Our Dependents</h1>
            <p></p>
        </center>
    </div>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Employee Name</th>
            <th scope="col">Full Name</th>
            <th scope="col">Birth Date</th>
            <th scope="col">Gender</th>
            <th scope="col">Relationship</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">
                    <a class="row-button" asp-controller="@ControllerNames.Employee" asp-action="@ActionNames.GetById" asp-route-id="@item.EmployeeSSN">
                        @item.Employee?.FirstName @item.Employee?.MINIT @item.Employee?.LastName
                        </a>
                        </th>
                <td>@item.Name</td>
                <td>@item.BirthDate</td>
                @if (@item.Gender == 'F') 
                {
                    <td>Female</td>
                }
                @if (@item.Gender != 'F')
                {
                    <td>Male</td>
                }
                <td>@item.Relationship</td>
            </tr>
        }
    </tbody>
</table>